main .hero-horizontal-tabs-wrapper {
  background-color: var(--primary);
}

main .hero-horizontal-tabs.block {
  display: flex;
  max-width: 1200px;
}

main .hero-horiz-tabs-text {
  color: var(--muted-text);
  padding-top: 88px;
  margin-right: 32px;
  min-width: 472px;
}

main .hero-horiz-tabs-text > h2 {
  color: white;
  font-size: 2.25rem;
  font-weight: var(--font-weight-small);
  line-height: 1.3em;
  margin-bottom: 20px;
  margin-top: 0;
}

main .hero-horiz-tabs-text > h6 {
  color: var(--muted-text);
  letter-spacing: 0.7px;
  margin-bottom: 24px;
}

main .hero-horiz-tabs-img picture {
  display: block;
  width: 897px;
  height: 520px;
}

main .hero-horizontal-tabs nav {
  position: absolute;
  bottom: 15px;
}

main .hero-horizontal-tabs nav a {
  background-color: var(--transparent-blue-light-color);
  padding: 16px 32px 18px;
  color: var(--link-color);
  border-left-color: rgb(217, 223, 226);
  border-left-width: 1px;
  border-left-style: solid;
  font-size: var(--body-font-size-l);
}

main .hero-horizontal-tabs nav a.current {
  background-color: white;
  color: var(--primary);
}

@media (todo) {

}